fastapi
pydantic
llama-parse
langchain
langchain-cohere
chromadb
groq
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
Office365-REST-Python-Client
boto3
nest-asyncio
python-multipart
hypercorn
pysqlite3-binary
langchain-groq 
yfinance
